@import "helpers/mixins";
@import "helpers/variables";
@import "helpers/placeholders";

@import "components/slides-buttons";
@import "components/introduction-slides";

.introduction {
    @extend %relative;
    @extend %header_height_offset;
    @extend %as_wide_as_parent;
    @extend %text_center;
    @extend %padding_x;
    padding-top: $introduction_padding_y;
    padding-bottom: $introduction_padding_y;
}
    .introduction-title {
        padding-bottom: $introduction-title_padding_y;
        @extend %bold_font;
        line-height: $introduction-text_line-height;
        font-size: $introduction-text-title_font-size;
        color: $black;
    }