<!DOCTYPE html>
<html>
<head>
    <title>Ludo Introduction</title>
    <meta charset="utf-8">
    <meta name="description" content="Ludo is a free web service make your life fun and productive. People can redefine the problem they face daily and get feedback when they finish their work">
    <meta name="google-site-verification" content="DXbItR27yg9XqeALDAMAMxva4_9Ovbva2qVceIUPrXM">
    <!-- FACEBOOK START -->
    <meta property="fb:app_id" content="1055399861180084">
    <meta property="og:title" content="Ludo">
    <meta property="og:url" content="http://www.ludonow.com/">
    <meta property="og:site_name" content="Ludo Now">
    <meta property="og:image" content="images/join.png">
    <!-- FACEBOOK END -->
    <!-- TWITTER START -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@LUDO_Now">
    <!-- TWITTER END -->
    <link rel="canonical" href="http://intro.ludonow.com/">
    <link rel="shortcut icon" href="./images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="./css/bootstrap-3.3.6.min.css">
    <link rel="stylesheet" href="./css/index.css">
</head>
<body id="body">
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1055399861180084',
          xfbml      : true,
          version    : 'v2.7'
        });
      }; 
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <header class="header">
        <a href="" class="page-scroll-top">
            <div class="header-logo-div">
                <div class="header-logo"></div>
                <div class="header-logo-shadow"></div>
            </div>
        </a>
<!--         <a href="">
            <div class="log-in">
                Log In
            </div>
        </a> -->
    </header>
    <aside class="side-nav hidden-xs">
        <nav>
            <ul class="side-nav-buttons">
                <a href="#join" class="side-nav-button page-scroll active">
                    <li class="side-nav-button-center"></li>
                </a>
                <a href="#introduction" class="side-nav-button page-scroll">
                    <li class="side-nav-button-center"></li>
                </a>
                <a href="#core" class="side-nav-button page-scroll">
                    <li class="side-nav-button-center"></li>
                </a>
                <a href="#form" class="side-nav-button page-scroll">
                    <li class="side-nav-button-center"></li>
                </a>
            </ul>
        </nav>
    </aside>
    <section id="join" class="join">
        <div class="join-text col-xs-12 col-sm-6">
            <div class="welcome-text"></div>
            <br>
            <div class="users-text">
                <span class="users-num-before"></span>
                <span class="users-num"><%= userNumber %></span>
                <span class="users-num-after"></span>
            </div>
            <br>
            <button class="join-button btn">
                <div class="join-button__text"></div>
            </button>
        </div>
        <div class="join-img col-sm-6 hidden-xs"></div>
    </section>
    <section id="introduction" class="introduction">
        <div class="introduction-title"></div>
        <div id="introduction-slides">
            <div class="introduction-slides-instruction-div">
                <div class="introduction-slides-instruction"></div>
            </div>
            <div class="desktop-introduction-slides"></div>
            <div class="mobile-introduction-slides"></div>
        </div>
        <div class="slides-buttons left-button">❮</div>
        <div class="slides-buttons right-button">❯</div>
    </section>
    <section id="core" class="core row">
        <div class="game col-sm-4">
            <div class="game-img"></div>
            <div class="game-text">
                <div class="core-text-title game-text-title"></div>
                <div class="core-text-content game-text-content"></div>
            </div>
        </div>
        <div class="social col-sm-4">
            <div class="social-img"></div>
            <div class="social-text">
                <div class="core-text-title social-text-title"></div>
                <div class="core-text-content social-text-content"></div>
            </div>
        </div>
        <div class="expert col-sm-4">
            <div class="expert-img"></div>
            <div class="expert-text">
                <div class="core-text-title expert-text-title"></div>
                <div class="core-text-content expert-text-content"></div>
            </div>
        </div>
    </section>
    <section id="form" class="form">
        <div class="hidden-xs desktop-form-text"></div>
        <div class="visible-xs-block mobile-form-text"></div>
        <div id="typeform-div" class="typeform-div">
            <span class="typeform en-us hidden">
                <div class="typeform-widget" 
                    data-url="https://yongyuh.typeform.com/to/RmhHAY" 
                    data-text="Ludo" 
                    style="width:100%;height:100%;">
                </div>
                <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';
                    if(!gi.call(d,id)) {js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';
                    q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()
                </script>
                <div 
                    style="font-family: Sans-Serif;
                    font-size: 12px;
                    color: #999;
                    opacity: 0.5; 
                    padding-top: 5px;">
                    Powered by
                    <a href="https://www.typeform.com/examples/forms/?utm_campaign=RmhHAY&amp;utm_source=typeform.com-3813118-Basic&amp;utm_medium=typeform&amp;utm_content=typeform-embedded-poweredbytypeform&amp;utm_term=EN" 
                        style="color: #999" 
                        target="_blank">
                        Typeform
                    </a>
                </div>
            </span>
            <span class="typeform zh-tw hidden">
                <div class="typeform-widget" 
                    data-url="https://johnchang2.typeform.com/to/ilIPeh" 
                    data-text="習慣養成問卷調查" 
                    style="width:100%;height:100%;">
                </div>
                <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()
                </script>
            </span>
        </div>
    </section>
    <section id="contact-us" class="contact-us">
        <div class="contact-us-title"></div>
        <div class="contact-us-img">
            <span class="facebook"></span>
            <span class="twitter"></span>
            <span class="email"></span>
        </div>
        <div class="copyright"></div>
        <div class="language-switch">
            <div class="language-switch-button">
                <div class="language-switch-arrow">
                    <svg class="arrows">
                        <path d="M10 10 L20 20 L30 10" stroke-width="3"></path>
                    </svg>
                </div>
            </div>
            <div class="language-switch-content hidden">
                <div class="language en-us" value="en-us">English</div>
                <div class="language zh-tw" value="zh-tw">中文</div>
            </div>
        </div>
    </section>
    <script src="./js/jquery-2.1.4.min.js"></script>
    <script src="./js/bootstrap-3.3.6.min.js"></script>
    <script src="./js/jquery.easing-1.3.min.js"></script>
    <script src="./js/language.js"></script>
    <script src="./js/hammer.min.js"></script>
    <script src="./js/index.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-81145940-1', 'auto');
      ga('send', 'pageview');
    </script>
</body>

</html>
